
$color-principal: rgb(54, 179, 208);
$color-secundario: white;
$color-terciario: beige;

$font-sz: (
    'font-xs': 15px,
    'font-s': 20px,
    'font-m': 25px,
    'font-l': 30px,
    'font-xl': 40px,
)
