
@import "variables";
@import "header.scss";
@import "section.scss";
@import "footer.scss";

// header

header{

    nav {
        width: 100vw;
        color: $color-principal;
    
        .nav-item {
            color: white;
    
            &:hover {
                background-color: rgb(209, 181, 25);
            }
        }
    
        .container {
            display: flex;
        }   
    }
}

