.footer {
    background-color: rgb(54, 179, 208);
    border-style: groove;
    border-color: black;
    border-radius: 5px;

    .redes-img {
        width: 30px;
        height: 30px;
    }

    p {
        color: white;
    }

    .row-derechos {
        display: flex;
        text-align: center;
        background-color: rgba(14, 14, 14, 0.84);
        color: white;
        border-style: groove;
        border-color: black;
    }
}