/* nav */
header{

    nav {
        width: 100vw;
        color: rgb(89, 177, 180);
        
    
        .nav-item {
            color: white;
    
            &:hover {
                background-color: rgb(209, 181, 25);
            }
        }
    
        .container {
            display: flex;
        }
    
    
    }
}
