/* section */
section {
    background-color: beige;
    
    #carrousel {
        background-color: rgba(44, 46, 46, 0.89);
        height: 300px;
    }

    .container {
        margin-top: 150px;

        #productos {
            margin-top: 10px;
        }

        article {

            .img-fluid {
                align-items: center;
            }

            #card {
                border-color: black;
                
                &:hover{
                    transform: scale(1.2);
                }

            }
        }
    }
}